{% extends 'base.html' %}

{% block title%}{{todo_list_detail.name}} - You Do the Todos{% endblock title %}

{% block content %}
  <main>
    <div>
        <h1>{{todo_list_detail.name}}</h1>
        <h2>Tasks</h2>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                </tr>
            </thead>
            <tbody>
            <!-- for each task in the todo item make a row with its name and due date
            "todo_object is defined in the views.py function as part of the context
            by passing it in as an argument you use the id to fetch the object in the TodoList
            model and get all the items in there-->
                {% for items in todo_list_detail.items.all %}
                <!--then for each item in the object model return the task and due_date-->
                    <tr>
                        <td>{{items.task}}</td>
                        <td>{{items.due_date}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div>
            <a href="{% url 'todo_list_update' todo_list_detail.id %}">Update</a>
            <a href="{% url 'todo_list_delete' todo_list_detail.id %}">Delete</a>
        </div>

  </main>
{% endblock content %}
