{% extends 'base.html' %}

{% block title%}You Do the Todos{% endblock title %}

{% block content %}
  <main>
    <h1>My Lists</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Number of Items</th>
            </tr>
        </thead>
        <tbody>
        <!-- for each item in the todo list make a row with its name and number of todos
        todo_list_list refers to the context from the todo_list function in views
        this is essentially for each item in the TodoList model -->
            {% for list in todo_list_list.all %}
            <!-- for each make a link to details passing in the id of the TodoList object as an argument
            then make a link using the name-->
                <tr>
                    <td>
                    <a href="{% url 'todo_list_detail' list.id %}">{{list.name}}</a>
                    </td>
                    <td></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

  </main>
{% endblock content %}
