{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{% static 'css/todos.css' %}">
</head>

<body>
    <header>
        <nav>
            <a href="{% url 'todo_list_list' %}" id = "text-is-white" >Main page</a>
            <a href="{% url 'todo_list_create' %}" id = "text-is-white" >Create a new list</a>
        </nav>
    </header>
    {%block content %}{% endblock content %}
    <footer>
        Made with love by You Do the Todos
    </footer>
</body>

</html>
